* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .nav {
        font-size: 0.8rem;
    }
}